<!DOCTYPE html>
<html>
<style>
html, body {
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
}
</style>
  <head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div id="root"></div>
  </body>
  <script src="https://use.fontawesome.com/ac92886317.js"></script>
</html>
